<%= form_for(@workflow, :method => @workflow.new_record? ? "POST" : "PUT") do |f| %>
  <% if @workflow.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@workflow.errors.count, "error") %> prohibited this workflow from being saved:</h3>
      <% @workflow.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :name, :required => true %>
        <%= f.text_field :name, :class => 'form-control', :placeholder => "Name your workflow" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :description, "Optional Description" %>
        <%= f.text_area :description, :rows => 7, :class => 'form-control', :placeholder => "Optionally describe what this workflow will do." %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :tag_bg_color, "Tag Background Color" %>
        <%= f.color_field :tag_bg_color, :class => 'form-control', :value => @workflow.tag_bg_color || default_workflow_bg_color %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :tag_fg_color, "Tag Foreground Color" %>
        <%= f.color_field :tag_fg_color, :class => 'form-control', :value => @workflow.tag_fg_color || default_workflow_fg_color %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div>
          <%= f.label :icon %>
          <%= f.select(:icon, options_for_select(Workflow.icons, @workflow.icon), {},
            {:style => "font-family:'FontAwesome', Arial;", :class => 'select2-fountawesome-icon'}) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <div>
          <%= f.label :agents %>
          <%= f.select(:agent_ids,
                       options_for_select(current_user.agents.pluck(:name, :id), @workflow.agent_ids),
                       {}, { :multiple => true, :size => 5, :class => 'select2-linked-tags form-control', data: {url_prefix: '/agents'} }) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class='form-actions' style='clear: both'>
        <%= f.submit "Save Workflow", :class => "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
<% end %>
