<% content_for :title, @workflow.name -%>

<% content_for :head do %>
  <%= javascript_include_tag "diagram" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to icon_tag('fa-chevron-left') + ' All Workflows', workflows_path, class: "btn btn-primary btn-sm" %>

      <hr>

      <div class="page-header">
        <h1>
          <% if @workflow.icon.blank? %>
            <%= workflow_label(@workflow, icon('fa', 'cog'))%>
          <% else %>
            <%= workflow_label(@workflow, icon('fa', @workflow.icon))%>
          <% end %>
          <%= "#{@workflow.name} workflow" %>
        </h1>
        <% if @workflow.description.present? %>
          <%= markdown(@workflow.description) %>
        <% end %>
      </div>

      <% if @agents.size > 0 %>
        <%= render 'diagrams/diagram' %>

        <%= render 'workflows/buttons' %>
        <br/>
        <%= render 'agents/table' , workflow: @workflow %>
        <br/>
        <% if @agents.size > 10 %>
          <%= link_to icon_tag('fa-chevron-left') + ' All Workflows', workflows_path, class: "btn btn-primary btn-sm" %>
          <%= render 'workflows/buttons' %>
        <% end %>
      <% else %>
        <p class="text-info"><em>This workflow does not have any associated agents yet. Choose an option:</em></p>
        <div>
          <%= link_to icon_tag('fa-plus') + ' Add a New Agent', new_agent_path(workflow_id: @workflow.id), class: "btn btn-primary btn-md" %>
          <%= link_to icon_tag('fa-edit') + ' Edit Workflow to Add Existing Agent', edit_workflow_path(@workflow), class: "btn btn-primary btn-md" %>
          <br><br><br><br>
          <p><em>Other actions:</em></p>
          <%= link_to icon_tag('fa-cloud-download-alt') + ' Export Workflow', share_workflow_path(@workflow), class: "btn btn-primary btn-sm" %>
          <%= link_to icon_tag('fa-trash-alt') + ' Delete Workflow', '#', data: { toggle: 'modal', target: "#confirm-workflow-deletion-#{@workflow.id}"}, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'workflows/confirm_deletion_modal', workflow: @workflow %>
<%= render 'workflows/enable_agents_modal', workflow: @workflow %>
