<% if @agent.errors.any? %>
  <div class="alert alert-danger">
    <h3><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h3>
    <% @agent.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% unless @agent.type %>
  <div id="agent_grid" class="agent_selection">
    <div class="cards d-flex flex-wrap">

      <div class="agent-selection-filters d-flex align-items-center mb-3 w-100">

        <div class="filters-group filters-search d-flex align-items-center mr-5 pl-1">
          <label for="filters-search-input" class="filter-label">Search</label>
          <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" autofocus>
        </div>

        <div class="btn-group filter-options hidden d-flex justify-content-end flex-fill pr-1">
          <button class="btn btn-primary active" data-group="custom-agents">Custom agents</button>
          <button class="btn btn-primary" data-group="built-in-agents">Built-in agents</button>
        </div>

      </div>

      <% agent_types.each do |type| %>
        <div class="d-flex flex-fill card-wrapper pr-1">
          <div class="card mb-1 text-white bg-primary">
            <div class="card-header">
              <%= type[:name] %>
            </div>
            <div class="card-body d-flex flex-column">
              <%= type[:description].lines.first.html_safe %>
              <button class="btn btn-primary select_agent_type align-self-end mt-auto"
                      data-type="<%= type[:type] %>"
                      data-name="<%= type[:name] %>">Create</button>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<%= form_for(@agent,
             as: :agent,
             url: @agent.new_record? ? agents_path(params: { workflow_id: @workflow }) : agent_path(@agent, params: { workflow_id: @workflow }),
             method: @agent.new_record? ? "POST" : "PUT",
             html: { class: 'agent-form', style: 'display: none;' }) do |f| %>

  <%= hidden_field_tag :return, params[:return] %>

  <div class="row">
    <div class="col-md-6">
            <% if @agent.new_record? %>
              <div class="form-group">
                <%= f.label :type %>
                <%= f.hidden_field :type %>
                <input id="agent_type_display" class="form-control" readonly="readonly" type="text">
              </div>
            <% end %>
          <div class="agent-settings">

              <div class="form-group">
                <%= f.label :name, :required => true %>
                <%= f.text_field :name, :class => 'form-control', autofocus: true %>
                <% if @agent.errors[:name] %>
                  <% @agent.errors[:name].each do |msg| %>
                    <p class="invalid-feedback"><%= msg %></p>
                  <% end %>
                <% end %>
              </div>

              <div class="oauthable-form">
                <%= render 'oauth_dropdown', agent: @agent %>
              </div>

              <div class="form-group">
                <%= f.label :schedule, :class => 'control-label' %>
                <div class="schedule-region" data-can-be-scheduled="<%= @agent.can_be_scheduled? %>">
                  <div class="can-be-scheduled">
                    <%= f.select :schedule, options_for_select(Agent::SCHEDULES.map {|s| [builtin_schedule_name(s), s] }, @agent.schedule), {}, :class => 'form-control select2' %>
                  </div>
                  <span class="cannot-be-scheduled text-info">This type of agent cannot be scheduled.</span>
                </div>
              </div>

              <div class="control-link-region" data-can-control-other-agents="<%= @agent.can_control_other_agents? %>">
                <div class="can-control-other-agents">
                  <div class="form-group">
                    <%= f.label :control_targets %>
                    <%= f.select(:control_target_ids,
                                 options_for_select(current_user.agents.map {|s| [s.name, s.id] },
                                                    @agent.control_target_ids),
                                 {}, { multiple: true, size: 5, class: 'select2-linked-tags form-control', data: {url_prefix: '/agents'}}) %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <%= f.label :keep_messages_for, "Message Expiration" %>
                  <%= icon_tag('fa-question-circle', 'data-toggle' => 'tooltip', 'title' => "In order to conserve disk space, you can choose to have messages created by this agent expire after a certain period of time.  Make sure you keep them long enough to allow any subsequent agents to make use of them.") %>
                <div class="message-related-region" data-can-create-messages="<%= @agent.can_create_messages? %>">
                  <%= f.select :keep_messages_for, options_for_select(Agent::MESSAGE_RETENTION_SCHEDULES, @agent.keep_messages_for), {}, :class => 'form-control select2' %>
                  <span class="cannot-create-messages text-info">This type of agent cannot create messages.</span>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :sources %>
                  <%= icon_tag('fa-question-circle', 'data-toggle' => 'tooltip', 'title' => "This agent will receive messages from the selected agents.") %>
                <div class="link-region" data-can-receive-messages="<%= @agent.can_receive_messages? %>">
                  <% messageSources = (current_user.agents - [@agent]).find_all { |a| a.can_create_messages? } %>
                  <%= f.select(:source_ids,
                               options_for_select(messageSources.map {|s| [s.name, s.id] },
                                                  @agent.source_ids),
                               {}, { :multiple => true, :size => 5, :class => 'select2-linked-tags form-control', data: {url_prefix: '/agents'} }) %>
                  <span class="cannot-receive-messages text-info">This type of agent cannot receive messages.</span>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :receivers %>
                    <%= icon_tag('fa-question-circle', 'data-toggle' => 'tooltip', 'title' => "Messages created by this agent will be sent to the selected agents.") %>
                <div class="message-related-region">
                  <% messageTargets = (current_user.agents - [@agent]).find_all { |a| a.can_receive_messages? } %>
                  <%= f.select(:receiver_ids,
                               options_for_select(messageTargets.pluck(:name, :id),
                                                  @agent.receiver_ids),
                               {}, { :multiple => true, :size => 5, :class => 'select2-linked-tags form-control', data: {url_prefix: '/agents'} }) %>
                  <span class="cannot-create-messages text-info">This type of agent cannot create messages.</span>
                </div>
              </div>

              <% if current_user.workflow_count > 0 %>
                <div class="form-group">
                  <%= f.label :workflows %>
                    <%= icon_tag('fa-question-circle', 'data-toggle' => 'tooltip', 'title' => "Use workflows to group sets of agents, both for organization, and to make them easy to export and share.") %>
                  <%= f.select(:workflow_ids,
                               options_for_select(current_user.workflows.pluck(:name, :id), @agent.workflow_ids),
                               {}, { :multiple => true, :size => 5, :class => 'select2-linked-tags form-control', data: {url_prefix: '/workflows'} }) %>
                </div>
              <% end %>

            <div class="agent-options">
              <%= render 'options', agent: @agent %>
            </div>
          </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="well description">
            <%= @agent.html_description unless @agent.new_record? %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="well message-descriptions" style="display: none"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
