<hr>
<% if agent.form_configurable? %>
  <fieldset>
    <% if agent.persisted? %>
      <%= hidden_field_tag 'agent[type]', @agent.type %>
    <% end %>
    <legend>Agent-specific Options</legend>
    <% agent.form_configurable_attributes.each do |attribute| %>
      <div class="form-group">
        <%= label_tag attribute %>
        <%= agent.option_field_for(attribute) %>
      </div>
    <% end %>
  </fieldset>
<% else %>
  <div class="form-group">
    <%= label_tag :options, "Agent-specific Options" %>
    <%= icon_tag('fa-question-circle', 'data-toggle' => 'tooltip', 'data-html' => true, 'title' => "For more available options look at the documentation on the right.") %>
    <div class="small">
      <p>In this JSON hash, interpolation is available in almost all values using the Liquid templating language.</p>
      <p>Available template variables include the following:
        <dl>
          <dt><code>message</code>, <code>url</code>, etc.</dt>
          <dd>Refers to the corresponding key's value of each incoming message's payload.</dd>
          <dt><code>agent</code></dt>
          <dd>Refers to the agent that created each incoming message.  It has attributes like <code>type</code>, <code>name</code> and <code>options</code>, so <code>{{agent.type}}</code> will expand to <code>WebsiteAgent</code> if an incoming message is created by that agent.</dd>
        </dl>
      </p>
      <p>To access user credentials, use the <code>credential</code> tag like this:<br><code>{% credential <em>bare_key_name</em> %}</code></p>
    </div>
    <textarea rows="15" id="agent_options" name="agent[options]" class="form-control"><%= JSON.pretty_generate((agent.new_record? && agent.options == {}) ? agent.default_options : agent.options) %></textarea>
    <div id="ace-agent-options" class="ace-editor" data-source="#agent_options" data-mode="ace/mode/json"></div>
  </div>
<% end %>
<div class="form-group">
  <%= submit_tag "Save", :class => "btn btn-primary btn-lg" %>
  <% if agent.can_dry_run? %>
    <%= button_tag class: 'btn btn-primary btn-lg agent-dry-run-button', type: 'button', 'data-action-url' => agent.persisted? ? agent_dry_runs_path(agent) : dry_runs_path(type: agent.type), 'data-with-message-mode' => agent_dry_run_with_message_mode(agent) do %><%= icon_tag('fa-sync-alt') %> Dry Run<% end %>
  <% end %>
</div>
