<% content_for :title, "Agents" -%>

<% content_for :head do %>
  <%= javascript_include_tag "diagram" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><%= session[:original_admin_user_id].present? ? "#{current_user.username}’s Agents" : 'Agents' %></h1>
        <p>Agents are independent programs that perform work. They communicate by emitting and receiving messages.</p>
      </div>

      <% if @agents.empty? %>
        <p class="text-info"><em>There are no agents set up. Create your first agent:</em></p>
        <%= link_to icon_tag('fa-plus') + ' New Agent', new_agent_path, class: "btn btn-primary btn-md" %>
      <% else %>
        <%= render 'diagrams/diagram' %>
        <%= render 'agents/buttons' %>
        <br/>
        <%= render 'agents/table' , workflow: nil %>
        <br/>
        <% if @agents.size > 10 %>
          <%= render 'agents/buttons' %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
