<% content_for :title, "Log in" -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <i>
          <%= image_tag("AW-Logo.svg", alt: "ActiveWorkflow") %>
        </i>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', role: 'form'}) do |f| %>
        <div class="form-group">
          <%= f.label :login, class: 'control-label' %>
          <div>
            <%= f.text_field :login, autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <div>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group remember_me">
          <div>
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                </label>
              </div>
            <% end -%>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-primary btn-md" %>
        </div>
      <% end %>

      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>

      <div class="about">
        <a href="https://www.activeworkflow.org" target="_blank">ActiveWorkflow</a>
        <span class="version"><%= ActiveWorkflow::Application::VERSION %></span>
      </div>
    </div>
  </div>
</div>
