<%= form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: @user %>
  <%= render partial: '/devise/registrations/common_registration_fields', locals: { f: f } %>

  <div class="form-group">
    <div>
      <%= f.label :admin do %>
        <%= f.check_box :admin %> Admin
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>

<hr>

<div>
  <%= link_to icon_tag('fa-chevron-left') + ' Back'.html_safe, admin_users_path, class: "btn btn-primary btn-sm" %>
  <% if @user.persisted? && @user.active? && @user != current_user %>
    <%= link_to 'Become User', switch_to_user_admin_user_path(@user), class: "btn btn-info btn-sm", data: { confirm: 'This will log you in as another user. Would you like to continue?' } %>
  <% end %>
</div>
