<div>
  <% if @logs.empty? %>
    <p>No Log entries stored</p>
  <% else %>
    <table id="logs-table" class='table table-striped table-hover table-sm logs'>
      <thead>
        <tr>
          <th>Message</th>
          <th>When</th>
          <th width="200px"></th>
        </tr>
      </thead>
      <tbody>

        <% @logs.each do |log| %>
          <tr>
            <td><%= truncate log.message, :length => 200, :omission => "..." %></td>
            <td data-order='<%= relative_time(log.created_at, true) %>'><%= time_ago_in_words log.created_at %> ago</td>

            <td>
              <div class="btn-group btn-group-sm">
                <% if log.inbound_message.present? %>
                  <%= link_to 'Message In', message_path(log.inbound_message), class: "btn btn-primary" %>
                <% else %>
                  <%= link_to 'Message In', '#', class: "btn btn-primary disabled" %>
                <% end %>

                <% if log.outbound_message.present? %>
                  <%= link_to 'Message Out', message_path(log.outbound_message), class: "btn btn-primary" %>
                <% else %>
                  <%= link_to 'Message Out', '#', class: "btn btn-primary disabled" %>
                <% end %>

                <%= link_to 'Details', '#', :class => "btn btn-primary show-log-details", :data => { :'modal-title' => log.level >= 4 ? 'Error' : 'Info', :'modal-content' => log.message } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
