<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<%= link_to(root_path, class: "navbar-brand") do %>
  <%= image_tag("AW_white.svg", alt: "logo") %>
<% end %>

<div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class='navbar-nav ml-auto'>
    <% if user_signed_in? %>
      <li class='job-indicator' role='pending'>
        <%= link_to current_user.admin? ? jobs_path : '#', class: 'visible-lg' do %>
          <span class="badge"><%= icon_tag('fa-sync-alt') %> <span class='number'>0</span></span>
        <% end %>
      </li>
      <li class='job-indicator' role='awaiting_retry'>
        <%= link_to current_user.admin? ? jobs_path : '#', class: 'visible-lg' do %>
          <span class="badge"><%= icon_tag('fa-question-circle') %> <span class='number'>0</span></span>
        <% end %>
      </li>
      <li class='job-indicator' role='recent_failures'>
        <%= link_to current_user.admin? ? jobs_path : '#', class: 'hidden-sm hidden-xs' do %>
        <span class="badge"><%= icon_tag('fa-exclamation-circle') %> <span class='number'>0</span></span>
        <% end %>
      </li>
      <li id='message-indicator'>
        <a href="#" class='hidden-sm hidden-xs'>
          <span class="badge"><%= icon_tag('fa-random') %> <span class='number'>0</span> messages</span>
        </a>
      </li>

      <%= nav_link "Workflows", workflows_path %>
      <%= nav_link "Agents", agents_path %>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" class="nav-link dropdown-toggle" href="#">Account
          <% if user_signed_in? && session[:original_admin_user_id].present? %>
            <span class="label badge label-warning"><%= current_user.username %></span>
          <% end %>
        </a>
        <div class='dropdown-menu dropdown-menu-right' role='menu'>
          <% if user_signed_in? && session[:original_admin_user_id].present? %>
            <%= link_to 'Switch Back to Admin User', switch_back_admin_users_path, tabindex: '-1', class: 'dropdown-item' %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'User Settings', edit_user_registration_path, :tabindex => "-1", class: 'dropdown-item' %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Configure Credentials", user_credentials_path, tabindex: '-1', class: 'dropdown-item' %>
            <%= link_to "Configure Services", services_path, tabindex: '-1', class: 'dropdown-item' %>
          <% end %>
          <% if user_signed_in? && current_user.admin %>
            <%= link_to 'Job Management', jobs_path, :tabindex => '-1', class: 'dropdown-item' %>
            <%= link_to 'User Management', admin_users_path, tabindex: '-1', class: 'dropdown-item' %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :tabindex => "-1", class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, :tabindex => "-1", class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
