<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) + " - ActiveWorkflow" : "ActiveWorkflow" %></title>
    <meta name="version" content="<%= ActiveWorkflow::Application::VERSION %>">
    <meta name="description" content="Automate your workflows with autonomous software agents written in the programming languages of your choice.">
    <meta name="author" content="Automatic Mode Labs AG">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0cdf3c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <%= yield(:ace_editor_script) %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %>">
    <nav class="navbar navbar-full navbar-static-top navbar-expand-lg navbar-dark bg-primary" role="navigation">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>

    <div id="main" role="main">
      <div class="container">
        <div class="row">
          <div class='col-md-12'>
            <%= render 'layouts/messages' %>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= render "upgrade_warning" %>
      <% end %>

      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
